.market {
  padding: 20px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Align boxes from left to right */
}

.product-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  box-sizing: border-box;
}

.product-box h3 {
  margin-top: 0;
}
